[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
django = "*"
django-debug-toolbar = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
