{% extends "base.html" %}
<!-- Login page -->
{% load static %}

{% block content %}
<!-- Messages -->

{% for error in err %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{error}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}




<div class="box">
    <div class="login-box">
        <form method="post" action="{% url 'Login' %}">
            {% csrf_token %}
            <div class="textbox">
                <input type="text" class="form-control" placeholder="Username/Email" name="username"
                    value="{{username}}" required>
            </div>
            <div class="textbox">
                <input type="password" class="form-control" placeholder="password" name="password" value="{{password}}"
                    required>
            </div>
            <button type="submit" class="btn-sign" name="login">Login</button>
            <p class="signup-text" onclick="signup()">Don’t have an account?<br><a href="{% url 'Reg_student' %}">Sign
                    up!</a>
            </p>
        </form>
    </div>
    <!-- SIGN UP -->

</div>


{% endblock %}