{% extends "base.html" %}
{% load static %}
{% load extra %}

{% block content %}

{% block nav %}
  
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile and Courses</title>
</head>

<body>
    <div class="container-stu">

        
        <div class="main-content">
            <header>
                <div class="offcanva">
                    <button class="off-button" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                            class="bi bi-person-fill"></i></button>
        
                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                        aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Profile info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
        
                            <div class="sidebar-offcanva">
                                <div class="profile-info">
                                    <ul class="list-group">
                                        <li class="list-group-item"><p><strong>First Name:</strong> {{user.first_name}}</p></li>
                                        <li class="list-group-item"> <p><strong>Last Name:</strong> {{user.last_name}}</p></li>
                                        <li class="list-group-item"><p><strong>Email:</strong> {{user.email}}@gmail.com</p></li>
                                        <li class="list-group-item"><p><strong>Status:</strong> Student</p></li>
                                        <a href="{% url 'edit_student_profile' %}"><li class="list-group-item list-group-item-action">Edit <i
                                                    class="bi bi-pencil"></i></li></a>
                                    </ul>
   <!-- edit-profile-button  -->
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>

                <h1>@ {{user}} </h1>
                <button class="btn-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <img src="{{student.profile_picture.url}}" alt="Profile Picture" class="profile-pic"> 
                </button>
                
                <!-- Modal for editing profile picture -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">   
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile Picture</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                            
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="image-field">
                            
                                            <img src="{{student.profile_picture.url}}" alt="Profile Picture" id="imagePreview">
                            
                                            <input type="file" name="profile_picture" accept="image/*" value="select file" required
                                                aria-invalid="true" id="id_profile_picture">
                                        </div>
                                        <button type="submit" class="btn">change</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
                
            </header>
            <section class="courses">
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                        <h2>Courses: {{registered_courses}}</h2>
                        </div>
                        <div class="col">
                        <a href="{% url 'Courses' %}" class="course-reg">Register Course <i class="bi bi-card-list"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="course-list">
                    {% for course in courses %}    
                    <div class="course">
                        <img src="{{course.cover_photo.url}}" class="course-image" alt="...">
                        <div class="course-content">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <p class="category">{{course.course_name}}</p>
                            <p class="price">{{ course.price }}</p>
                          </div>
          
                          <h3><a href="{% url 'Course_detail' course.id %}">{{course.course_name}}</a></h3>
                          <p class="description"> {{course.description|truncatewords:20}} </p>
                          <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                <img src="{{course.trainer.passport_photo.url}}" class="img-fluid" alt="">
                                  
                                <a href="{% url 'about_trainer' course.trainer.user.id %}" class="trainer-link">{{course.trainer}}</a>
                            </div>
                            <div class="trainer-rank d-flex align-items-center">
                        <i class="bi bi-person user-icon"></i>&nbsp;{{registered_students|subscript:course.course_name}}
                              &nbsp;&nbsp;
                              {% if user in course.likes.all %}
                              <form id="{% url 'like_course' course.id %}" class="like-form" onsubmit="like(`{{course.id}}`)">
                                {% csrf_token %}
                                <button type="submit" class="btn-none like-button{{course.id}}">
                                    <i class="bi bi-heart-fill heart-icon" id="icon-{{course.id}}"></i>&nbsp;<p style="display: inline;" id="like-count{{course.id}}" >{{course.likes.count}}</p>
                                </button>
                            </form>
                              {% else %}
                              <form id="{% url 'like_course' course.id %}" class="like-form" onsubmit="like(`{{course.id}}`)">
                                {% csrf_token %}
                                <button type="submit" class="btn-none like-button{{course.id}}">
                                    <i class="bi bi-heart heart-icon" id="icon-{{course.id}}"></i>&nbsp;<p style="display: inline;" id="like-count{{course.id}}" >{{course.likes.count}}</p>
                                </button>
                            </form>
                            {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>

                    {% endfor %}
                </div>
            </section>
            <section class="achievements">
                <h2>Achievements</h2>
                <div class="achievement-list">
                    <!-- <img src="achievement1.png" alt="Achievement 1" class="achievement-image">
                    <img src="achievement2.png" alt="Achievement 2" class="achievement-image">
                    <img src="achievement3.png" alt="Achievement 3" class="achievement-image">
                    <img src="achievement4.png" alt="Achievement 4" class="achievement-image">
                    <img src="achievement5.png" alt="Achievement 5" class="achievement-image">
                    <img src="achievement6.png" alt="Achievement 6" class="achievement-image"> -->
                </div>
            </section>
        </div>
    </div>
    <script>
        document.getElementById('id_profile_picture').addEventListener('change', function(event) {
          const input = event.target;
          const image = document.getElementById('imagePreview');
          if (input.files && input.files[0]) {
              const reader = new FileReader();
              reader.onload = function(e) {
                  image.src = e.target.result;
              }
              reader.readAsDataURL(input.files[0]);
            }
        });
    </script>


</body>
</html>


{% endblock %}
