{% extends "base.html" %}
{% load static %}
{% load extra %}

{% block content %}

<body>
    
    {% block nav %}
    
    
    {% endblock  %}
    <!-- courses and activities of the user -->
    
    <!-- Button trigger modal -->
    
    <div class="profile-container">
      <div class="d-flex justify-content-center">
        <p class="d-inline-flex gap-1" style="align-self: center;">
          <button class="off-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="bi bi-person-fill"></i>
          </button>
        </p>
      </div>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">

          <!-- Profile Info here -->
          <div class="profile">
              <h2>My profile
              <button type="button" class="btn-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <!-- Launch static backdrop modal -->
                  <img src="{{profile_pic}}" alt="Profile Picture" class="profile-pic" style="cursor: pointer;" onclick="pictureForm()">
                </button>
              </h2>
  
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
              
                      <div class="modal-header">
                          
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile Picture</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                            
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="image-field">
                    
                                    <img src="{{profile_pic}}" alt="Profile Picture" id="imagePreview">
                    
                                    <input type="file" name="passport_photo" accept="image/*" value="select file" required
                                        aria-invalid="true" id="id_passport_photo">
                                </div>
                                <button type="submit" class="btn">change</button>
                            </form>
                            </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <p><strong>First Name:</strong> {{user.first_name}}</p>
              <p><strong>Last Name:</strong> {{user.last_name}}</p>
              <p><strong>Email:</strong> {{user.email}}</p>
              <p><strong>Status:</strong> Trainer</p>
              <a href="{% url 'edit_trainer_profile' %}"><button class="edit-profile-button">Edit <i
                          class="bi bi-pencil"></i></button></a>
          </div>
          <!-- End of profile info -->
        </div>
      </div>
      
                    
        <div class="courses">      
          <h2>My courses  <a href="{% url 'course_creation' %}"><i class="bi bi-plus-square"></i></a></h2>
          
          <div class="courses-train">
          
          
            {% for course in courses %}
            {% if course.trainer.user == user %}            

            <!-- Modal for cover photo edit -->
            <div class="modal fade" id="{{course.id}}-photo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
            
                    <div class="modal-header">
                        
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit cover photo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                          
                          <form action="{% url 'edit_course' course.id %}" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="image-field">
                  
                                  <img src="{{course.cover_photo.url}}" alt="Profile Picture" class="imagePreview">
                  
                                  <input type="file" name="cover_photo" accept="image/*" value="select file" required
                                      aria-invalid="true" class="coverPhotoEdit">
                              </div>
                              <button type="submit" name="cover_photo" class="btn">change</button>
                          </form>
                          </div>
            
                  </div>
                </div>
              </div>
            </div>
            <!-- COURSE DELETE MODAL -->
            <div class="modal fade" id="{{course.id}}-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
            
                    <div class="modal-header">
                        
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit cover photo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="container-fluid">
                            <p>Are you sure you want to delete this course? All forums, groups and classes will be terminated!</p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          
                          <div style="display: flex; align-items: center; justify-content: space-around; width: 100%;">
                            <a href="{% url 'delete_course' course.id %}"></a><button class="btn btn-danger">Delete</button>
                            <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                          </div>
                      </div>
            
                  </div>
                </div>
              </div>
            
            <!-- COURSE CARD -->
            <div class="course">
              <!-- THIS BUTTON SHOLD ONLY SHOW ONLY WHEN THIS PICTURE IS HOVERED ON!!! -->
              <button type="button" class="abs" data-bs-toggle="modal" data-bs-target="#{{course.id}}-photo" >
                  <i class="bi bi-pen show-on-hover"></i>
              </button>
              
                <img src="{{course.cover_photo.url}}" class="course-image" alt="...">

                <div class="course-content">
                  
                  <h3><a href="{% url 'Course_detail' course.id %}">{{course.course_name}}</a></h3>
                  <p class="description">{{course.description|truncatewords:20}}</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                        <img src="{{course.trainer.passport_photo.url}}" class="img-fluid" alt="">
                          
                        <a href="{% url 'about_trainer' course.trainer.user.id %}" class="trainer-link">{{course.trainer}}</a>
                        <!-- Edit button -->
                         <!-- Button trigger edit modal -->
                        <button class="user-control" data-bs-toggle="modal" data-bs-target="#{{course.id}}"> <i class="bi bi-pen"></i></button>
                        <!-- Delete trigger delets modal -->
                       <button class="user-control" data-bs-toggle="modal" data-bs-target="#{{course.id}}-delete"><i class="bi bi-trash"></i></button>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bi bi-person user-icon"></i>&nbsp;{{registered_students|subscript:course.course_name}}
                      &nbsp;&nbsp;
                      <i class="bi bi-heart heart-icon"></i>&nbsp;{{course.likes.count}}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal for course edit-->
              <div class="modal fade" id="{{course.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Course</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- form -->
                      <form class="row g-3" method="post" action="{% url 'edit_course' course.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- course name -->
                        <div class="col-md-6">
                          <label for="inputEmail4" class="form-label">Course name</label>
                          <input type="text" class="form-control" name="course_name" value="{{course.course_name}}" id="inputEmail4">
                        </div>
                        <!-- course price -->
                        <div class="col-md-6">
                          <label for="inputPassword4" class="form-label">Course price</label>
                          <input type="number" class="form-control" name="price" value="{{course.price}}" id="inputPassword4">
                        </div>
                        <!-- Description -->
                        <div class="col-12">
                          <label for="inputAddress" class="form-label">Description</label>
                          <textarea name="description" id="description" rows='3' cols="50">{{course.description}}</textarea>
                        </div>
              <div class="col-12">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <!-- <button type="button" class="btn btn-secondary">cancel</button> -->
                    </div>
                  </div>
                </div>
              </div>

              {% endif %}
              {% endfor %}
              </div>

            <a href="{% url 'Courses' %}" class="see-all-button">See all ➔</a>
        </div>
        
    </div>

    </div>
    <hr>
    <script>

        // PASSPORT PHOTO
        document.getElementById('id_passport_photo').addEventListener('change', function(event) {
          const input = event.target;
          const image = document.getElementById('imagePreview');
          if (input.files && input.files[0]) {
              const reader = new FileReader();
              reader.onload = function(e) {
                  image.src = e.target.result;
              }
              reader.readAsDataURL(input.files[0]);
            }
        });
        // COVER PHOTO
        document.querySelectorAll('.coverPhotoEdit').forEach(element=>{
          element.addEventListener('change', function(event) {
            const input = event.target;
            const image = document.querySelectorAll('.imagePreview');
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                  image.forEach(img=>{
                    img.src = e.target.result;
                  }) 
                }
                reader.readAsDataURL(input.files[0]);
              }
            });

        })
       
    </script>

<script src="{% static 'assets/js/main.js' %}"></script>
</body>

{% endblock %}