{% extends "base.html" %}
{% load static %}
{% load extra %}

{% block content %}

<body>
    
    {% block nav %}
    
    
    {% endblock  %}
    <!-- courses and activities of the user -->
    
    <!-- Button trigger modal -->
    

    <div class="profile-container">

      <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" id="info-button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          View profile info
        </button>
      </p>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">

          <!-- Profile Info here -->
          <div class="profile">
              <h2>My profile
              <button type="button" class="btn-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <!-- Launch static backdrop modal -->
                  <img src="{{profile_pic}}" alt="Profile Picture" class="profile-pic" style="cursor: pointer;" onclick="pictureForm()">
                </button>
              </h2>
    
              <!-- Button trigger modal -->
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
    
            <div class="modal-header">
                
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="container-fluid">
                  
                  <form action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="image-field">
          
                          <img src="{{profile_pic}}" alt="Profile Picture">
          
                          <input type="file" name="passport_photo" accept="image/*" value="select file" required
                              aria-invalid="true" id="id_passport_photo">
                      </div>
                      <button type="submit" class="btn">change</button>
                  </form>

                  </div>
    
          </div>
        </div>
      </div>
    </div>
    
              <p><strong>First Name:</strong> {{user.first_name}}</p>
              <p><strong>Last Name:</strong> {{user.last_name}}</p>
              <p><strong>Email:</strong> {{user.email}}</p>
              <p><strong>Status:</strong> Trainer</p>
              <a href="{% url 'edit_trainer_profile' %}"><button class="edit-profile-button">Edit <i
                          class="bi bi-pencil"></i></button></a>
          </div>
          <!-- End of profile info -->
        </div>
      </div>


        <div class="courses">      
        <h2>My courses  <a href="{% url 'course_creation' %}"><i class="bi bi-plus-square"></i></a></h2>

            
        <div class="courses-train">

            {% for course in courses %}
            {% if course.trainer.user == user %}            
            <!-- Using the template's html -->
            <div class="course">
                <img src="{{course.cover_photo.url}}" class="course-image" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="category">{{course.course_name}}</p>
                    <p class="price">{{ course.price }}</p>
                  </div>
  
                  <h3><a href="{% url 'Course_detail' course.id %}">{{course.course_name}}</a></h3>
                  <p class="description">{{course.description|truncatewords:20}}</p>
                  <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                        <img src="{{course.trainer.passport_photo.url}}" class="img-fluid" alt="">
                          
                        <a href="{% url 'about_trainer' course.trainer.user.id %}" class="trainer-link">{{course.trainer}}</a>
                        <!-- Edit button -->
                        <a href="{% url 'edit_course' course.id %}"><button class="user-control"> <i class="bi bi-pen"></i></button></a>
                        <!-- Delete button -->
                        <a href="{% url 'delete_course' course.id %}"><button class="user-control"><i class="bi bi-trash"></i></button></a>
                    </div>
                    <div class="trainer-rank d-flex align-items-center">
                      <i class="bi bi-person user-icon"></i>&nbsp;50
                      &nbsp;&nbsp;
                      <i class="bi bi-heart heart-icon"></i>&nbsp;65
                      
                    </div>
                  </div>
                </div>
              </div>

              {% endif %}
              {% endfor %}
              </div>

            <a href="{% url 'Courses' %}" class="see-all-button">See all ➔</a>
        </div>
        
    </div>

    </div>
    <hr>
    <script>
        let picture = document.querySelector(".profile-pic")
        function pictureForm(){
            console.log(picture)
            myModal.handleUpdate()
        }
       
    </script>

</body>

{% endblock %}