{% load static %}
<!DOCTYPE html>
<html lang="en">



<!-- {{ block.super }} -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error| Page not fount</title>
</head>

<body>
    <p>
    <h1>Oops! Page not found :( </h1>
    </p>
    <p>
    <h1>Lost?</h1>
    <h3><a href="{% url 'Home' %}">Back to home page</a></h3>
    </p>
    </a>
</body>
<style>
    body {
        background-color: beige;
    }

    p {
        position: relative;
        align-self: center;
    }
</style>

</html>
<!-- {{ block.super }} -->