<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load extra %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Learn online skills</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/mylogo.png' %} " rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="../../static/assets/css/main.css" rel="stylesheet">
    

</head>

<body>

    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="{% url 'Home' %}" class="logo d-flex align-items-center me-auto">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="sitename">Learn</h1>
            </a>           
            {% block nav %}           
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'Home' %}" id="home">Home</a></li>
                    <li><a href="{% url 'About' %}" id="about">About</a></li>
                    <li><a href="{% url 'Courses' %}" id="courses">Courses</a></li>
                    <li><a href="{% url 'Train' %}" id="trainers">Trainers</a></li>
                    <li><a href="{% url 'Pricing' %}" id="pricing">Pricing</a></li>
                    
                    <li><a href="{% url 'Contact' %} " id="contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            
            {% endblock %}

        {% if user.is_authenticated %}
            <a class="btn-getstarted" href="{% url 'DashBoard' %}">Profile</a>

            <a class="btn-getstarted" href="{% url 'Logout' %}">Logout</a>

            {% else %}

            <a class="btn-getstarted" href="{% url 'Login' %}">Get Started</a>
            {% endif %}

        </div>
    </header>

    {% if messages %}
    {% for message in messages %}
    
    <div class="alert {{message.tags}}  alert-dismissible fade show " role="alert">
        <strong>{{message}} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}


    <footer id="footer" class="footer position-relative">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="{% url 'Home' %}" class="logo d-flex align-items-center">
                        <span class="sitename">Learn</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>A108 Adam Street</p>
                        <p>New York, NY 535022</p>
                        <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                        <p><strong>Email:</strong> <span>info@example.com</span></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'Home' %}">Home</a></li>
                        <li><a href="{% url 'About' %}">About us</a></li>
                        <li><a href="{% url 'Courses' %}">Courses</a></li>
                        <!-- <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Courses</h4>
                    <ul>
                        {% for course in Courses|limit:5 %}
                          
                        <li><a href="{% url 'Course_detail' course.id %}">{{course}}</a></li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
                    <!-- for the errors -->
                    {% for errors in err %}

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{errors}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    {% endfor %}
                    <form action="{% url 'Home' %}" method="post" class="">
                        {% csrf_token %}
                        <div class="newsletter-form">
                            <input type="email" name="Email" required>
                            <input type="submit" value="Subscribe">
                        </div>
                        <!-- <div class="loading">Loading</div> -->
                        <!-- <div class="error-message"></div> -->
                        <!-- <div class="sent-message">Your subscription request has been sent. Thank you!</div> -->
                    </form>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">AM2</strong> <span>All Rights Reserved</span>
            </p>
            <div class="credits">
                <!-- All the links in the footer should remain intact.
                You can delete the links only if you've purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: [buy-url]
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <!-- script -->
    <script>
        // LIKE BUTTON FUNCTIONALITY
        // update our database in the backend
        let submit = document.querySelectorAll(".like-form")
        submit.forEach(function (element){
                        let id = element.id
                        element.addEventListener("submit", (e)=>{
                                e.preventDefault()
                                fetch(id, {
                                        method: 'POST',
                                        headers: {
                                                'X-CSRFToken': '{{csrf_token}}',
                                                'Content-Type': 'application/json'
                                                },    
                                }).then(response => response.json()).catch(error=>{console.log(error)})
                    })      
                })
    
    // Update our likes in the front end
    function like(id){
          let isLiked = document.getElementById(`icon-${id}`)
          if (isLiked.classList.contains('bi-heart')){
                  document.getElementById(`like-count${id}`).innerHTML++
                  document.getElementById(`icon-${id}`).className = "bi bi-heart-fill"
                  qty = qty+ 1
              }else{
                      document.getElementById(`like-count${id}`).innerHTML--
                      document.getElementById(`icon-${id}`).className = "bi bi-heart"
                  }
                }
                //  </script>

    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>