{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load extra %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Courses - Mentor Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">


</head>






{% block content %}

<body class="courses-page">
  <script>
    window.onload = () => {
      document.getElementById('courses').classList.add('active')
    };

  </script>
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Courses</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
                consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
                quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li class="current">Courses</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Courses Section -->
    <section id="courses" class="courses section">

      <div class="container">

        <div class="row">
          {% for course in Courses %}

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            
            <div class="course-item">
              <img src="{{course.cover_photo.url}}" class="img-fluid height" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">{{course.course_name}}</p>
                  <p class="price">{{course.price}}</p>
                </div>

                <h3><a href="{% url 'Course_detail' course.id %}">{{course.course_name}}</a></h3>
                <p class="description">{{course.trainer.bio|truncatewords:20 }}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{course.trainer.passport_photo.url}}" class="img-fluid" alt="">
                    <a href="{% url 'about_trainer' course.trainer.user.id %}" class="trainer-link">{{course.trainer.user.first_name}}</a>
                  </div>

                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;{{registered_students|subscript:course.course_name}}
                    &nbsp;&nbsp;
                    {% if not user.is_staff and user.is_authenticated %}
                    {% if user in course.likes.all %}
                    <form id="{% url 'like_course' course.id %}" class="like-form" onsubmit="like(`{{course.id}}`)">
                      {% csrf_token %}
                      <button type="submit" class="btn-none like-button{{course.id}}">
                          <i class="bi bi-heart-fill heart-icon" id="icon-{{course.id}}"></i>&nbsp;<p style="display: inline;" id="like-count{{course.id}}" >{{course.likes.count}}</p>
                      </button>
                  </form>
                    {% else %}
                    <form id="{% url 'like_course' course.id %}" class="like-form" onsubmit="like(`{{course.id}}`)">
                      {% csrf_token %}
                      <button type="submit" class="btn-none like-button{{course.id}}">
                          <i class="bi bi-heart heart-icon" id="icon-{{course.id}}"></i>&nbsp;<p style="display: inline;" id="like-count{{course.id}}" >{{course.likes.count}}</p>
                      </button>
                  </form>
                  {% endif %}
                  {% else %}
                  <i class="bi bi-heart heart-icon" id="icon-{{course.id}}"></i>&nbsp;{{course.likes.count}}
                {% endif %}
                  </div>

                </div>
                
                <div class="reg d-flex justify-content-between align-items-center">
                  {% if not user.is_staff and course not in RegisteredCourses %}
                      <button class="btn btn-info mx-1" class="btn-none mx-2 my-2" data-bs-toggle="modal" data-bs-target="#registerModal{{course.id}}"> Register</button>


                    {% elif course not in RegisteredCourses %}
  
                    <p> Registered </p>
                    {% else %}
  
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
            <div class="modal fade" id="registerModal{{course.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header">
                          
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="container-fluid">
                            <p>register for {{course}}?</p>
                            <div class="d-flex">
                              <a href="{% url 'course_reg' course.id %}"><button class="btn btn-primary mx-1">Register</button></a>
                              <button class="btn btn-outline-danger mx-1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" >Cancel</button>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
          {% empty %}
          <h2>Oops! There seems to be no course created yet</h2>
          {% endfor %}
          <!-- End Course Item -->

          <!-- <div classem -->

        </div>

      </div>

    </section><!-- /Courses Section -->

  </main>
  {% endblock %}


</body>

</html>