{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load extra %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Course Details - Mentor Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Updated: May 01 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


  {% block content %}

<body class="course-details-page">


  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>{{course}}</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
                consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit
                quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li class="current">Course Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Courses Course Details Section -->
    <section id="courses-course-details" class="courses-course-details section">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">

            <img src="{{course.cover_photo.url}}" class="img-fluid" alt="">
            <h3>About this course</h3>
            <p>
            <!-- 103 words -->
             {{course.description}}
            </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="{% url 'about_trainer' course.trainer.user.id %}">{{course.trainer.user.first_name}} {{course.trainer.user.last_name}} </a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>${{course.price}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Students</h5>
              <p>{{registered_students|subscript:course.course_name}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Likes</h5>
              <p>{{course.likes.count}}</p>
            </div>

            <!-- <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats </h5>
              <p>30</p>
            </div> -->


        {% if not user.is_staff %}
            <div class="course-info d-flex justify-content-between align-items-center">
              {% if course not in RegisteredCourses %}
                
              <h5>Register</h5>
              <p><a href="{% url 'course_reg' course.id %}">Click here</a></p>
              
              {% else %}
              <h5>Register</h5>
              
              {% endif %}
            </div>
        {% endif %}
            
          </div>
        </div>

      </div>

    </section><!-- /Courses Course Details Section -->

    <!-- Tabs Section -->
    <section id="tabs" class="tabs section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        {% if user.is_authenticated %}
        <!-- h1 title -->
        <h1>Comments</h1> {% if not user.is_staff %} <button id="btn-show" class="btn btn-success my-3 d-inline-block" onclick="showComment()">Add a comment</button> {% endif %}
        
        <!-- Comment Form -->
         <form action="{% url 'Course_detail' course.id %}" id="comment-form" method="post" style="display: none;">
              {% csrf_token %}
          <textarea name="comment" id="" class="form-control" rows="3" required></textarea>
          <button type="submit" class="btn btn-success mx-1 my-2">Comment</button>
          <button type="button" id="cancel" class="btn btn-outline-danger my-2 mx-1" onclick="hideComment()">Cancel</button>
          </form>
        <!-- End Comment Form -->
          
        {% endif %}
        
        <div class="vstack gap-1 comments">
        {% for comment in comments %}
        <div class="card p-2">
          <div class="card-header d-flex align-items-center">
            {{comment.user}}
            <img src="{{comment.user.profile_picture.url}}" alt="Profile Picture" class="profile-pic mx-1"> 
            <p class="mx-1 fst-italic">{{comment.time}}</p>
          </div>
          <div class="card-body">
            <!-- Title will be added in the future -->
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text" id="comment-{{comment.id}}">
              {{comment}}
            </p>
            <!-- Comment edit form -->
            <form action="{% url 'Edit_comment' comment.id %}" method="post" class="form-control" style="display: none;" id="edit-form{{comment.id}}">
              {% csrf_token %}
              <textarea name="comment" id="" cols="30" class="w-100 py-1 px-1">{{comment}}</textarea>
              <div class="d-flex">
              <button type="submit" class="btn btn-success my-2, mx-2">Change</button>
              <button type="button" class="btn btn-outline-danger my-2, mx-2" onclick="abortChange('{{comment.id}}')">cancel</button>
            </div>
          </form>
          <!-- End of edit form -->

        <div class="card-footer text-body-secondary">
            {% if user.is_authenticated %}
              
            
              {% if comment.user.user == user %}
              <div class="trainer-rank d-flex align-items-center">
                <!-- Delete -->
                <button class="btn-none" data-bs-toggle="modal" data-bs-target="#commentDelete{{comment.id}}"><i class="bi bi-trash"></i>&nbsp;</button>
                &nbsp;&nbsp;
                <!-- edit -->
                <button class="btn-none" id="edit-comment{{comment.id}}" onclick="editComment('{{comment.id}}')"><i class="bi bi-pencil mx-1"></i>&nbsp;</button>
                <!-- Like disabled -->
                <i class="bi bi-heart mx-1"> {% if comment.likes.count %} {{comment.likes.count}} {% endif %} </i>
                <!-- Reply -->
                <button class="btn-none mx-1" onclick="formAppear('{{comment.id}}')" ><i class="bi bi-reply"></i>&nbsp;</button>
              </div>
              {% else %}
              <div class="trainer-rank d-flex align-items-center">
                
                <!-- Like button -->
                 <form action="" id="like-form{{comment.id}}">
                  {% csrf_token %}
                <button type="submit" class="btn-none like-comment" onclick="handelLikes(`{% url 'Like_comment' comment.id %}`,`like-form{{comment.id}}`, updateLikes(`{{comment.id}}`))">
                  <i class="bi {% if user in comment.likes.all %} bi-heart-fill {% else %} bi-heart {% endif %}" id="heart-{{comment.id}}"></i><p class="d-inline" id="icon-{{comment.id}}"> {{comment.likes.count}}</p>
                  &nbsp;
                </button>
                </form>
                <!-- Reply -->
                &nbsp;&nbsp;
                <button class="btn-none" onclick="formAppear('{{comment.id}}')" ><i class="bi bi-reply"></i>&nbsp;</button>
              </div>
              {% endif %}
              <!-- Reply Form -->
              <form action="" method="post" id="reply-form{{comment.id}}" class="form-control" style="display: none;">
                {% csrf_token %}
                <input type="hidden" value="{{comment.id}}" name="the_comment">
                <textarea name="reply" id="reply-text" class="form-control-sm w-100 h-75"></textarea>
                <div class="d-flex">
                  <button type="submit" class="btn btn-success mx-1 my-1" >reply</button>
                  <button type="button" class="btn btn-outline-danger mx-1 my-1" onclick="formDelete('{{comment.id}}')">cancel</button>
                </div>
              </form>
              <!-- End of reply form -->
              
              <!-- Modal for Deleting comments -->
                <div class="modal fade" id="commentDelete{{comment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">   
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile Picture</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                  <p class="fs-5">Are you sure you want to delete this comment?</p>
                                  <div class="d-flex">
                                    <a href="{% url 'Delete_comment' comment.id %}"><button class="btn btn-danger mx-2">delete</button></a>
                                    <button class="btn btn-light mx-2" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                  </div>
                                </div>
                        </div>
                    </div>
                  </div>
                </div>
              <!-- End Modal -->
            {% endif %}
              <!-- Replies section-->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{comment.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
                        Replies
                      </button>
                    </h2>
                    {% for reply in comment.replies.all %}
                      <div id="flush-collapseOne{{comment.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body d-flex justify-content-start"> <img src="{{reply.get_student.profile_picture.url}}" alt="" class="profile-pic"> <p class=" fst-italic fw-lighter mx-2">{{reply.get_student}}:</p> <p>{{reply}}</p> </div>
                      </div>
                      {% empty %}
                      <div id="flush-collapseOne{{comment.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> No replies yet </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- End replies section -->
            </div>
          </div>
        </div>
        <br><br>
        {% empty %}
        
        <div class="p-2">There are no comments yet.</div>
        {% endfor %}

        </div>
      </div>

    </section>
    <!-- /Tabs Section -->

    <style>
      .comments{
        border: 1px solid #6f6f6f;
        padding: 10px;
        box-sizing: border-box;
      }
      .inline-button{
        display: inline;
        margin: 10px 0;
        border: none;
        outline: none;
        background-color: #2a8df7;
        color: white;
        border-radius: 5px;
        padding: 5px;
      }
      .inline-danger{
        background-color: #fa3030;
      }
    </style>

    <script>
        let comment = document.querySelector(".comments")
        let button = document.querySelector("#btn-show")
        let commentForm = document.getElementById("comment-form")
        // Function to make comment form appear
        const showComment = () => {
          document.addEventListener("click", ()=>{
            commentForm.style.display = "block"
            button.style.display = "none"
          })
        }
        const hideComment = () => {
          document.addEventListener("click", ()=>{
            commentForm.style.display = "none"
            button.style.display = "block"
          })
        }
        
          // Edit button
          let editComment = (id) => {
            let commentEdit = document.getElementById(`comment-${id}`)
            let commentEditForm2 = document.getElementById(`edit-form${id}`)
            
            document.addEventListener("click", ()=>{
              commentEditForm2.style.display = "block"
              commentEdit.style.display = "none"
            })
          }
          
          let abortChange = (id) => {
            let commentEdit = document.getElementById(`comment-${id}`)
            let commentEditForm2 = document.getElementById(`edit-form${id}`)

            document.addEventListener("click", ()=>{
              commentEditForm2.style.display = "none"
              commentEdit.style.display = "block"
            })
            
          }

        // Function to make reply form appear
        function formAppear(id){
          document.addEventListener("click", ()=>{
            const form = document.getElementById(`reply-form${id}`)
            form.style.display = "block"
          })
        }
        
        const formDelete = (id) => {
            document.addEventListener("click", ()=>{
              const form = document.getElementById(`reply-form${id}`)
              form.style.display = "none"
            })
        }

    </script>

  </main>
  {% endblock %}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>