{% extends "base.html" %}
{% load static %}

{% block content %}



<body>

    <div class="cover">
        <!-- information about the user -->
        <div class="user_info">
            <a href="{% url 'edit_profile' %}">Edit Profile</a>

            <h1>welcome {{user}}</h1>
        </div>
        <p>First Name: {{user.first_name}} </p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>

        <br><br><br>

    </div>
    <!-- courses and activities of the user -->
    <div class="activities">
        <h3> You have 0 courses registered</h3>
    </div>
    <hr>
</body>

{% endblock %}