{% extends "base.html" %}
{% load static %}
{{ block.super }}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile and Courses</title>
</head>

<body>
    <div class="container-stu">

        <div class="offcanva">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                    class="bi bi-chevron-double-right"></i></button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Profile info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <div class="sidebar-offcanva">
                        <div class="profile-info">
                            <p><strong>First Name:</strong> {{user.first_name}}</p>
                            <p><strong>Last Name:</strong> {{user.last_name}}</p>
                            <p><strong>Email:</strong> {{user.email}}@gmail.com</p>
                            <p><strong>Status:</strong> Student</p>
                            <a href="{% url 'edit_student_profile' %}"><button class="edit-profile-button">Edit <i
                                        class="bi bi-pencil"></i></button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="profile-info">
                <p><strong>First Name:</strong> {{user.first_name}}</p>
                <p><strong>Last Name:</strong> {{user.last_name}}</p>
                <p><strong>Email:</strong> {{user.email}}@gmail.com</p>
                <p><strong>Status:</strong> Student</p>
                <a href="{% url 'edit_student_profile' %}"><button class="edit-profile-button">Edit <i
                            class="bi bi-pencil"></i></button></a>
            </div>
        </div>
        <div class="main-content">
            <header>
                <h1>welcome {{user}} </h1>
                <a href="{% url 'Home' %}">
                   <img src="{% static 'assets/img/mylogo.png' %}" alt="Profile Picture" class="profile-pic"> 
                </a>
                
            </header>
            <section class="courses-stu">
                <h2>Courses registered: 2</h2>
                <div class="course-list">
                    <div class="course-stu">
                        <a href="{% url 'Course_detail' %}">
                            <img src="{% static 'assets/img/course-3.jpg' %}" alt="Copywriting" class="course-image">
                        </a>
                        <div class="course-details">
                            <p>
                                <a href="{% url 'Course_detail' %}">
                                    <h3>Copywriting</h3>
                            </p>
                            </a>
                            <i class="bi bi-person"></i> 10
                            <i class="bi bi-hand-thumbs-up"></i> 20
                            <br>
                        </div>
                    </div>
                    <div class="course-stu">
                        <a href="{% url 'Course_detail' %}">
                            <img src="{% static 'assets/img/course-1.jpg' %}" alt="Web Design" class="course-image">
                        </a>
                        <div class="course-details">
                            <p>
                                <a href="{% url 'Course_detail' %}">
                                    <h3>Web design</h3>
                                </a>
                            </p>
                            <i class="bi bi-person"></i> 10
                            <i class="bi bi-hand-thumbs-up"></i> 20
                            <br>
                        </div>
                    </div>
                </div>
            </section>
            <section class="achievements">
                <h2>Achievements</h2>
                <div class="achievement-list">
                    <img src="achievement1.png" alt="Achievement 1" class="achievement-image">
                    <img src="achievement2.png" alt="Achievement 2" class="achievement-image">
                    <img src="achievement3.png" alt="Achievement 3" class="achievement-image">
                    <img src="achievement4.png" alt="Achievement 4" class="achievement-image">
                    <img src="achievement5.png" alt="Achievement 5" class="achievement-image">
                    <img src="achievement6.png" alt="Achievement 6" class="achievement-image">
                </div>
            </section>
        </div>
    </div>
</body>

</html>


{% endblock %}